/* Bakgrund och centrering */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: #000;
  text-align: center;

  /* Gradient */
  background: linear-gradient(
    to bottom,
    #1f2b38 0%,
    #202c39 20%,
    #253443 40%,
    #273845 55%,
    #243544 70%,
    #1f2b38 100%
  );
}

/* Rubrik */
h1 {
  margin-top: 40px;
  color: #ffffff;
  font-size: 28px;
}

/* Card */
.card {
  position: relative;
  z-index: 1;
  background: #e9ecef;
  width: 60%;
  margin: 40px auto;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: left;
}

/* layout */
#controls {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 12px 20px;
  margin-bottom: 20px;
}

/* Inputs */
input.textfield,
input.checkbox {
  padding: 6px;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
}

/* Knapp */
#removeBtn {
  grid-column: 1 / 3;
  width: 120px;
  padding: 8px 0;
  background-color: #d3e5f7;
  border: 1px solid #8aa7c4;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#removeBtn:hover {
  background-color: #c9dbf0;
}

/* Output-div */
#outputDiv {
  border: 1px solid #555;
  padding: 8px;
  border-radius: 4px;
  background: #ffffff;

  transition: background-color 350ms ease, color 200ms ease;
}
